---
import topics from "../../data/papers.json";
import Layout from "../../layouts/Layout.astro";
import Feed from "../../components/Feed.astro";

export function getStaticPaths() {
  return topics.map((topic) => {
    return { params: { slug: topic.slug } };
  });
}

const { slug } = Astro.params,
  topic = topics.find((topic) => topic.slug === slug);
---

<Layout>
  <title slot="head">CYBERNOISE - {topic?.name}</title>

  <div slot="body">
    {
      topic !== undefined && (
        <Feed showBacklink={true} topic={topic} paperLimit={12} />
      )
    }
  </div>
</Layout>
