---
import Layout from "../layouts/Layout.astro";
import image from "../images/about.png";
import { Image } from "astro:assets";
import { SEO } from "astro-seo";
import ogImage from "../images/about.png";
---

<Layout>
  <SEO
    slot="head"
    title="CYBERNOISE - About"
    description="Futuristic cyberpunk magazine exploring the cutting edge of science, technology, and culture through an experiment in content creation."
    openGraph={{
      basic: {
        title: "About CYBERNOISE",
        type: "website",
        image: ogImage.src,
      },
      image: {
        alt: "CYBERNOISE magazine floating in the sky above a futuristic city",
      },
    }}
  />

  <div slot="body">
    <a class="topic-link" href="/">
      <h2>About ←</h2>
    </a>

    <Image
      class="image"
      src={image}
      alt="An epically large digital tablet floating in the sky, showing futuristic imagery of cities"
      title="An epically large digital tablet floating in the sky, showing futuristic imagery of cities"
      sizes="(max-width: 1199px) calc(100vw - 40px), (min-width:1400px) 1024px"
      quality={70}
    />

    <p>
      Welcome to our futuristic cyberpunk magazine, where we explore the cutting edge of science, technology, and
      culture through an experiment in content creation. Our magazine is a unique take on the traditional popular
      science magazine format, presenting an overly optimistic and idealistic vision of the future.
    </p>

    <p>
      Our magazine is powered by Mixtral 8x instruct, and SDXL lightning 8step. Using state-of-the-art natural language
      processing algorithms, Mixtral has been able to generate content that accurately reflects our experiment in
      creating an overly optimistic and idealistic view of the future.
    </p>

    <p>
      We are committed to exploring the limits of what is possible, pushing the boundaries of what is known, and
      inspiring our readers to imagine a future that is bright and full of possibilities. Whether you are interested in
      the latest advances in artificial intelligence, plant biology, or other topics, you will find something to
      captivate your imagination in our pages.
    </p>

    <p>
      Through our content experiment, we hope to challenge conventional thinking and inspire our readers to embrace a
      more positive and optimistic view of the future. So join us on this journey into the unknown, where the only limit
      is our imagination. We hope you enjoy our magazine and we look forward to sharing our vision of the future with
      you.
    </p>
  </div>
</Layout>

<style>
  .image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin: 0 auto 40px auto;
    display: block;
  }
</style>
