---
import topics from "../data/papers.json";
import Layout from "../layouts/Layout.astro";
import Feed from "../components/Feed.astro";
---

<Layout>
  <title slot="head">CYBERNOISE</title>

  <div slot="body">
    {
      topics.map((topic) => (
        <div class="feed">
          <Feed topic={topic} paperLimit={3} />
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .feed {
    margin: 0 0 40px 0;
  }
</style>
