---
import topics from "../data/papers.json";
import Layout from "../layouts/Layout.astro";
import Feed from "../components/Feed.astro";
---

<Layout>
  <title slot="head">CYBERNOISE</title>

  <div slot="body">
    {topics.map((topic) => <Feed topic={topic} paperLimit={3} />)}
  </div>
</Layout>
