---
import topics from "../data/papers.json";
import Layout from "../layouts/Layout.astro";
import Feed from "../components/Feed.astro";
import ListView from "../components/ListView.astro";
---

<Layout>
  <title slot="head">
    CYBERNOISE - Discover a Bright Future with Our Cyberpunk Magazine |
    Cutting-Edge Science, Technology, and Culture
  </title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta
    slot="head"
    name="description"
    content="Discover an optimistic vision of the future with our cyberpunk magazine. Expanding the limits of science, technology, and culture, we inspire readers to embrace new possibilities. Join us on a unique journey of imagination."
  />
  <meta
    name="keywords"
    content="Cyberpunk magazine, Science and technology, Culture, Content creation, Popular science, Optimistic view of the future, Idealistic vision, State-of-the-art natural language processing algorithms, Artificial intelligence, Plant biology, Challenging conventional thinking, Positive and optimistic view of the future, Journey into the unknown, Imagination"
  />

  <div class="body" slot="body">
    <!-- <ListView /> -->

    {
      topics.map((topic) => (
        <div class="feed">
          <Feed topic={topic} paperLimit={3} />
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .body {
    position: relative;
  }

  .feed {
    margin: 0 0 40px 0;
  }
</style>
