---
import topics from "../data/papers.json";
import Layout from "../layouts/Layout.astro";
import Feed from "../components/Feed.astro";
import { SEO } from "astro-seo";
import ogImage from "../images/about.png";
---

<Layout>
  <SEO
    slot="head"
    title="CYBERNOISE - Cyberpunk Magazine on Science, Technology, and Culture"
    description="Discover an optimistic vision of the future with our cyberpunk magazine. Expanding the limits of science, technology, and culture, we inspire readers to embrace new possibilities. Join us on a unique journey of imagination."
    openGraph={{
      basic: {
        title: "CYBERNOISE Magazine",
        type: "website",
        image: ogImage.src,
      },
      image: {
        alt: "CYBERNOISE magazine floating in the sky above a futuristic city",
      },
    }}
  />

  <div class="body" slot="body">
    {
      topics.map((topic) => (
        <div class="feed">
          <Feed topic={topic} paperLimit={3} />
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .body {
    position: relative;
  }

  .feed {
    margin: 0 0 40px 0;
  }
</style>
