---
import "@fontsource/barlow/100.css";
import "./layout.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#000" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#000" />

    <script defer src="https://umami.ver2.de/script.js" data-website-id="790dab57-0fb1-488a-bb4c-975b0c229b2b"></script>

    <slot name="head" />
  </head>

  <body>
    <div class="layout">
      <div class="grid-container">
        <div class="vignette"></div>
      </div>

      <div class="content">
        <nav>
          <a href="/">home</a>
          <a href="/about">about</a>
        </nav>

        <a href="/">
          <h1 class="glitch layers" data-text="CYBERNOISE">CYBERNOISE</h1>
        </a>

        <slot name="body" />
      </div>
    </div>
  </body>

  <style>
    .layout {
      max-width: 100vw;
      margin: 0 auto;
      padding: 0 20px;
      font-family: "Barlow", sans-serif;
      font-weight: 100;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: 768px) {
      .layout {
        max-width: 80vw;
      }
    }

    nav {
      transform: translate3d(0, 0, 0);
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: flex-end;
      width: 100%;
      margin: 20px 0;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 100;
      transition: 0.2s;
    }

    .grid-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url("./bg.webp");
      background-repeat: repeat;
      background-size: 512px;
      opacity: 0.03;
    }

    .vignette {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      box-shadow: inset 0 10vh 100vh 10vh black;
    }

    .content {
      position: relative;
      z-index: 15;
      max-width: 1200px;
    }
  </style>

  <style is:global>
    body {
      font-weight: 100;
    }

    h1 {
      font-size: clamp(40px, 10vw, 100px);
      line-height: 1;
      display: inline-block;
      color: #fff;
      z-index: 2;
      letter-spacing: 10px;
      filter: drop-shadow(0 1px 3px);
      margin-top: 0;
      writing-mode: vertical-lr;
      text-orientation: upright;
      position: absolute;
      transform: translateX(-100%);
      text-decoration: none;
    }

    h1:hover {
      color: hotpink;
    }

    h2 {
      font-size: clamp(20px, 7vw, 40px);
      line-height: 1;
      display: inline-block;
      color: #fff;
      margin-top: 0;
    }

    h3 {
      font-size: 18px;
      line-height: 24px;
      display: inline-block;
      color: #fff;
      margin: 0 0 0px 0;
    }

    p {
      font-size: 18px;
      line-height: 1.3;
      margin-top: 0;
    }

    a {
      color: #fff;
      transition: all 0.3s ease-in-out;
    }

    a:hover {
      transform: scale(1.01);
      box-shadow:
        0 0px 20px 4px teal,
        inset 0 0px 20px 4px teal;
    }

    .layers {
      position: absolute;
    }

    .layers::before,
    .layers::after {
      content: attr(data-text);
      position: absolute;
      width: 110%;
      z-index: -1;
    }

    .layers::before {
      top: 10px;
      left: 15px;
      color: #e0287d;
    }

    .layers::after {
      top: 5px;
      left: -10px;
      color: #1bc7fb;
    }

    .single-path {
      clip-path: polygon(
        0% 12%,
        53% 12%,
        53% 26%,
        25% 26%,
        25% 86%,
        31% 86%,
        31% 0%,
        53% 0%,
        53% 84%,
        92% 84%,
        92% 82%,
        70% 82%,
        70% 29%,
        78% 29%,
        78% 65%,
        69% 65%,
        69% 66%,
        77% 66%,
        77% 45%,
        85% 45%,
        85% 26%,
        97% 26%,
        97% 28%,
        84% 28%,
        84% 34%,
        54% 34%,
        54% 89%,
        30% 89%,
        30% 58%,
        83% 58%,
        83% 5%,
        68% 5%,
        68% 36%,
        62% 36%,
        62% 1%,
        12% 1%,
        12% 34%,
        60% 34%,
        60% 57%,
        98% 57%,
        98% 83%,
        1% 83%,
        1% 53%,
        91% 53%,
        91% 84%,
        8% 84%,
        8% 83%,
        4% 83%
      );
    }

    .paths {
      animation: paths 5s step-end infinite;
    }

    @keyframes paths {
      0% {
        clip-path: polygon(
          0% 43%,
          83% 43%,
          83% 22%,
          23% 22%,
          23% 24%,
          91% 24%,
          91% 26%,
          18% 26%,
          18% 83%,
          29% 83%,
          29% 17%,
          41% 17%,
          41% 39%,
          18% 39%,
          18% 82%,
          54% 82%,
          54% 88%,
          19% 88%,
          19% 4%,
          39% 4%,
          39% 14%,
          76% 14%,
          76% 52%,
          23% 52%,
          23% 35%,
          19% 35%,
          19% 8%,
          36% 8%,
          36% 31%,
          73% 31%,
          73% 16%,
          1% 16%,
          1% 56%,
          50% 56%,
          50% 8%
        );
      }

      5% {
        clip-path: polygon(
          0% 29%,
          44% 29%,
          44% 83%,
          94% 83%,
          94% 56%,
          11% 56%,
          11% 64%,
          94% 64%,
          94% 70%,
          88% 70%,
          88% 32%,
          18% 32%,
          18% 96%,
          10% 96%,
          10% 62%,
          9% 62%,
          9% 84%,
          68% 84%,
          68% 50%,
          52% 50%,
          52% 55%,
          35% 55%,
          35% 87%,
          25% 87%,
          25% 39%,
          15% 39%,
          15% 88%,
          52% 88%
        );
      }

      30% {
        clip-path: polygon(
          0% 53%,
          93% 53%,
          93% 62%,
          68% 62%,
          68% 37%,
          97% 37%,
          97% 89%,
          13% 89%,
          13% 45%,
          51% 45%,
          51% 88%,
          17% 88%,
          17% 54%,
          81% 54%,
          81% 75%,
          79% 75%,
          79% 76%,
          38% 76%,
          38% 28%,
          61% 28%,
          61% 12%,
          55% 12%,
          55% 62%,
          68% 62%,
          68% 51%,
          0% 51%,
          0% 92%,
          63% 92%,
          63% 4%,
          65% 4%
        );
      }

      45% {
        clip-path: polygon(
          0% 33%,
          2% 33%,
          2% 69%,
          58% 69%,
          58% 94%,
          55% 94%,
          55% 25%,
          33% 25%,
          33% 85%,
          16% 85%,
          16% 19%,
          5% 19%,
          5% 20%,
          79% 20%,
          79% 96%,
          93% 96%,
          93% 50%,
          5% 50%,
          5% 74%,
          55% 74%,
          55% 57%,
          96% 57%,
          96% 59%,
          87% 59%,
          87% 65%,
          82% 65%,
          82% 39%,
          63% 39%,
          63% 92%,
          4% 92%,
          4% 36%,
          24% 36%,
          24% 70%,
          1% 70%,
          1% 43%,
          15% 43%,
          15% 28%,
          23% 28%,
          23% 71%,
          90% 71%,
          90% 86%,
          97% 86%,
          97% 1%,
          60% 1%,
          60% 67%,
          71% 67%,
          71% 91%,
          17% 91%,
          17% 14%,
          39% 14%,
          39% 30%,
          58% 30%,
          58% 11%,
          52% 11%,
          52% 83%,
          68% 83%
        );
      }

      76% {
        clip-path: polygon(
          0% 26%,
          15% 26%,
          15% 73%,
          72% 73%,
          72% 70%,
          77% 70%,
          77% 75%,
          8% 75%,
          8% 42%,
          4% 42%,
          4% 61%,
          17% 61%,
          17% 12%,
          26% 12%,
          26% 63%,
          73% 63%,
          73% 43%,
          90% 43%,
          90% 67%,
          50% 67%,
          50% 41%,
          42% 41%,
          42% 46%,
          50% 46%,
          50% 84%,
          96% 84%,
          96% 78%,
          49% 78%,
          49% 25%,
          63% 25%,
          63% 14%
        );
      }

      90% {
        clip-path: polygon(
          0% 41%,
          13% 41%,
          13% 6%,
          87% 6%,
          87% 93%,
          10% 93%,
          10% 13%,
          89% 13%,
          89% 6%,
          3% 6%,
          3% 8%,
          16% 8%,
          16% 79%,
          0% 79%,
          0% 99%,
          92% 99%,
          92% 90%,
          5% 90%,
          5% 60%,
          0% 60%,
          0% 48%,
          89% 48%,
          89% 13%,
          80% 13%,
          80% 43%,
          95% 43%,
          95% 19%,
          80% 19%,
          80% 85%,
          38% 85%,
          38% 62%
        );
      }

      1%,
      7%,
      33%,
      47%,
      78%,
      93% {
        clip-path: none;
      }
    }

    .movement {
      /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
      position: relative;
      animation: movement 8s step-end infinite;
    }

    @keyframes movement {
      0% {
        top: 0px;
        left: -20px;
      }

      15% {
        top: 10px;
        left: 10px;
      }

      60% {
        top: 5px;
        left: -10px;
      }

      75% {
        top: -5px;
        left: 20px;
      }

      100% {
        top: 10px;
        left: 5px;
      }
    }

    .opacity {
      animation: opacity 5s step-end infinite;
    }

    @keyframes opacity {
      0% {
        opacity: 0.1;
      }

      5% {
        opacity: 0.7;
      }

      30% {
        opacity: 0.4;
      }

      45% {
        opacity: 0.6;
      }

      76% {
        opacity: 0.4;
      }

      90% {
        opacity: 0.8;
      }

      1%,
      7%,
      33%,
      47%,
      78%,
      93% {
        opacity: 0;
      }
    }

    .font {
      animation: font 7s step-end infinite;
    }

    @keyframes font {
      0% {
        font-weight: 100;
        color: #e0287d;
        filter: blur(3px);
      }

      20% {
        font-weight: 500;
        color: #fff;
        filter: blur(0);
      }

      50% {
        font-weight: 300;
        color: #1bc7fb;
        filter: blur(2px);
      }

      60% {
        font-weight: 700;
        color: #fff;
        filter: blur(0);
      }

      90% {
        font-weight: 500;
        color: #e0287d;
        filter: blur(6px);
      }
    }

    .glitch span {
      animation: paths 5s step-end infinite;
    }

    .glitch::before {
      animation:
        paths 5s step-end infinite,
        opacity 5s step-end infinite,
        font 8s step-end infinite,
        movement 10s step-end infinite;
    }

    .glitch::after {
      animation:
        paths 5s step-end infinite,
        opacity 5s step-end infinite,
        font 7s step-end infinite,
        movement 8s step-end infinite;
    }
  </style>
</html>
